


<form class="search-form" id="search-form">
    <input class="search-form-input" type="text" name="query" autocomplete="off" placeholder="Search images..." />
</form>

<ul class="gallery">
    <!-- Список <li> с карточками изображений -->
</ul>



<button type="button" class="button" data-action="show-more">
<div class="spinner circles is-hidden">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<span class="label"> Show more </span>
<!-- <span class="spinner-border spinner-border-sm spinner is-hidden" role="status" aria-hidden="true"></span> -->
</button>
